*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline:0;
}
body{
    background:rgb(187, 187, 245);
}
#container{
    text-align: center;
    width:50%;
    margin: 10% auto;
    background:rgba(0, 0, 100, 0.8);
    padding:20px 0px;

}
#container h1{
    font-size: 50px;
    margin: 20px 0px;
    padding: 20px;
    color:#fff
}
input, label{
    display: block;
    width: 80%;
    margin: auto;
}
label{
    font-size: 20px;
    text-transform: uppercase;
    color:#fff
}
input{
    padding:10px;
    margin: 10px auto;
}
p{
    color:#fff;
}
p a{
    text-decoration: none;
    color: tomato;
    font-weight: bold;
    font-size: 18px;
}
input[type="submit"]{
    width:30%;
    font-size: 15px;
    font-weight: 600;
    background-color: forestgreen;
    color:#fff;
    border-radius: 5px;
    transition: 0.5s;
}
input[type="submit"]:hover{
    background-color: #fff;
    color:black;
}
input::placeholder{
    color:red;
}








/* .form-card{
   
    height: 350px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.26);
   
}
.card-front{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 100, 0.8);
    color: #fff;
    background-position: center;
}
.card-front h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
} */